
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FFC0CB; /* Color de fondo rosado */
            color: #333;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-color: #ff69b4; /* Color rosado más fuerte */
            color: white;
            padding: 20px;
            text-align: center;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin: 0;
            font-size: 2.5rem;
        }

        nav {
            margin: 20px auto;
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            display: inline-block;
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #333;
            font-size: 1.2rem;
            padding: 10px 20px;
            background-color: white;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }

        nav ul li a:hover {
            background-color: #ff69b4; /* Mismo color que el header */
            color: white;
        }

        footer {
            background-color: #ff69b4;
            color: white;
            text-align: center;
            padding: 10px 0;
            margin-top: auto;
            box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
        }
    